export MICROBLOG_DATABASE_URL=localhost
export MICROBLOG_DATABASE_PORT=5432
export MICROBLOG_DATABASE_NAME=testdb
export MICROBLOG_DATABASE_USER=secretuser
export MICROBLOG_DATABASE_PASSWORD=secretpw

export MICROBLOG_API_URL=localhost
export MICROBLOG_API_PORT=3000

export MICROBLOG_URL=localhost
export MICROBLOG_PORT=8080
